#
#  Copyright 2005-2018 Red Hat, Inc.
#
#  Red Hat licenses this file to you under the Apache License, version
#  2.0 (the "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
#  implied.  See the License for the specific language governing
#  permissions and limitations under the License.
#

#
# Configuration Admin configuration that can be dropped into ${karaf.etc} directory.
# This configuration will be processed into registered javax.sql.DataSource when these are installed in Karaf/Fuse:
# - mvn:org.postgresql/postgresql/42.2.2 bundle
# - jdbc feature (dependant on pax-jdbc and pax-jdbc-config)
# - pax-jdbc-pool-dbcp2 feature
#
# This factory PID will create:
#     karaf@root()> service:list javax.sql.DataSource
#     [javax.sql.DataSource]
#     ----------------------
#      dataSourceName = postgresqlds
#      dataSourceType = DataSource
#      factory.validationQuery = select schema_name from information_schema.schemata
#      factory.validationQueryTimeout = 2
#      felix.fileinstall.filename = file:${karaf.etc}/org.ops4j.datasource-postgresql.cfg
#      osgi.jdbc.driver.class = org.postgresql.Driver
#      osgi.jndi.service.name = postgresqlds
#      password = fuse
#      pool.blockWhenExhausted = true
#      pool.maxTotal = 10
#      pool.maxWaitMillis = 2000
#      pool.minIdle = 2
#      pool.testOnBorrow = true
#      pool.testWhileIdle = false
#      service.bundleid = 235
#      service.factoryPid = org.ops4j.datasource
#      service.id = 253
#      service.pid = org.ops4j.datasource.dbf58746-b290-4953-818f-32d809c22c8e
#      service.scope = singleton
#      url = jdbc:postgresql://localhost:5432/reportdb
#      user = fuse
#     Provided by :
#      OPS4J Pax JDBC Config (235)
#

# configuration for pax-jdbc-config to choose and configure specific org.osgi.service.jdbc.DataSourceFactory
dataSourceName = postgresqlds
dataSourceType = DataSource
osgi.jdbc.driver.class = org.postgresql.Driver
url = jdbc:postgresql://localhost:5432/reportdb
user = fuse
password = fuse

# hints for pax-jdbc-config to use org.ops4j.pax.jdbc.pool.common.PooledDataSourceFactory
pool = dbcp2
xa = false

# dbcp2 specific configuration of org.apache.commons.pool2.impl.GenericObjectPoolConfig
pool.minIdle = 2
pool.maxTotal = 10
pool.blockWhenExhausted = true
pool.maxWaitMillis = 2000
pool.testOnBorrow = true
pool.testWhileIdle = false

# dbcp2 specific configuration of org.apache.commons.dbcp2.PoolableConnectionFactory
factory.validationQuery  = select schema_name from information_schema.schemata
factory.validationQueryTimeout = 2
