#
#  Copyright 2005-2018 Red Hat, Inc.
#
#  Red Hat licenses this file to you under the Apache License, version
#  2.0 (the "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
#  implied.  See the License for the specific language governing
#  permissions and limitations under the License.
#

#
# Configuration Admin configuration that can be dropped into ${karaf.etc} directory.
# This configuration will be processed into registered javax.jms.ConnectionFactory when these are installed in Karaf/Fuse:
# - jms feature
# - pax-jms-pool-pooledjms feature
# - pax-jms-artemis feature
#

# configuration for pax-jms-config to choose and configure specific org.ops4j.pax.jms.service.ConnectionFactoryFactory
connectionFactoryType = ConnectionFactory
name = artemisCF2
type = artemis
protocol = amqp

jms.url = amqp://localhost:61616
jms.username = fuse
jms.password = fuse

# hints for pax-jms-config to use pooled-jms JMS pool
pool = pooledjms
xa = false

# pooled-jms specific configuration of org.messaginghub.pooled.jms.JmsPoolConnectionFactory
pool.idleTimeout = 10
pool.maxConnections = 123
pool.blockIfSessionPoolIsFull = true
