<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" metadata-complete="true"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <context-param>
        <param-name>keycloak.config.resolver</param-name>
        <param-value>org.keycloak.adapters.osgi.PathBasedKeycloakConfigResolver</param-value>
    </context-param>

    <servlet>
        <servlet-name>info</servlet-name>
        <servlet-class>org.jboss.fuse.quickstarts.security.keycloak.war.InfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>info</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>org.jboss.fuse.quickstarts.security.keycloak.war.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured</web-resource-name>
            <url-pattern>/info</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>_does_not_matter</realm-name>
    </login-config>

    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>403</error-code>
        <location>/error.html</location>
    </error-page>

</web-app>
